%% The name of the package
{package_name, "home-server"}.

%% The details of the package author
{package_author_name, "Philip Cristiano"}.
{package_author_email, "home@philipcristiano.com"}.

%% The user under which the service is going to run
{package_install_user, "home-user"}.
{package_install_user_desc, "home-server user"}.

%% Package description
{package_shortdesc, "Small server for your home"}.
{package_desc, "Store metrics from your home IoT"}.

%% License and copyright info for the package metadata
{license_type, "BSD"}.
{copyright, "2014 Philip Cristiano"}.
